.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: green;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: blue;
  width: 80px;
  height: 80px;
  margin: 10px;
}

.number {
  position: absolute;
  height: 80px;
  width: 80px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #f44336;
  color: #ffffff;
  transition: all 0.3s;
}

.button-container {
  display: flex;
  justify-content: center;
}
